/* page-landing .welcomePage */

@keyframes up{
    from {
        opacity: 0;
        transform: translateY(16px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-up {
    animation-name: up;
    animation-duration: 750ms;
    animation-fill-mode: backwards;
}


/* page-orphanage .sidebar */

@keyframes right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.animate-right {
    animation-name: right;
    animation-duration: 500ms;
}

/* page-orphanage .map */

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-appear {
    animation-name: appear;
    animation-duration: 2500ms;
    animation-fill-mode: backwards;
}